<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list >
      <a mat-list-item routerLink="/">All products</a>
      <a mat-list-item [routerLink]="[category._id, 'category']" *ngFor="let category of categories | async">{{ category.title }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar
      color="primary"
      fxLayout="row"
      fxLayoutAlign="space-between center">
      <div fxLayout="row">
        <button
          type="button"
          aria-label="Toggle sidenav"
          class="btn-menu"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon" class="menu-icon">menu</mat-icon>
        </button>
        <a routerLink="/">Magaz</a>
      </div>
      <nav *ngIf="!(user | async) else userMenu">
        <a mat-raised-button color="primary" class="buttons-user btn-reg" routerLink="/register">REGISTER</a>
        <a mat-raised-button color="accent" class="buttons-user" routerLink="/login">SIGN IN</a>
      </nav>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #userMenu>
  <nav>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="icon-user">account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a routerLink="products/new" mat-button>Create product</a>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </nav>
</ng-template>
