.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar a {
  color: inherit;
  text-decoration: none;
}

.content {
  padding: 16px;
}

.btn-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background: white;
  border: 2px solid white;
}

.btn-menu:hover{
  background: powderblue;
  border: 2px solid powderblue;
}

.menu-icon{
  color: #673ab7;
}

.buttons-user {
  color: black!important;
  margin: 0 5px;
}

.btn-reg {
  background: orange;
}

.icon-user {
  font-size: 35px;
}

.icon-user:hover {
  color: powderblue;
}
