.register-link
  display: block
  color: #ae2937
  margin: 0 0 20px

.btn-login
  font-weight: 700
  background: #673ab7
  color: white
  border-radius: 5px

.form
  display: flex
  flex-direction: column
