<app-form-card title="Creat post">
  <form
    #form="ngForm"
    autocomplete="off"
    (ngSubmit)="onSubmit()"
    class="form"
  >
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input required matInput name="title" ngModel #title="ngModel"/>
      <mat-error class="reg-form__element-error" *ngIf="title.touched && title.hasError('required')">Title is required!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput required name="description" ngModel #description="ngModel"></textarea>
      <mat-error *ngIf="description.touched && description.hasError('required')">Description is required!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Image</mat-label>
      <app-file-input name="image" required matInput ngModel #image="ngModel"></app-file-input>
      <mat-error *ngIf="image.touched && image.hasError('required')">Image is required!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Categories</mat-label>
      <mat-select name="category" ngModel>
        <mat-option [value]="category._id"  *ngFor="let category of categories | async">{{ category.title }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input required matInput type="number" name="price" ngModel #price="ngModel"/>
      <mat-error class="reg-form__element-error" *ngIf="price.touched && price.hasError('required')">Price is required!</mat-error>
    </mat-form-field>
    <div>
      <button
        type="submit"
        mat-button
        class="btn-login"
        [disabled]="form.invalid"
      >
        CREATE
      </button>
    </div>
  </form>
</app-form-card>
