<div class="product-block">
  <mat-spinner *ngIf="(loading | async) else productArea"></mat-spinner>
  <ng-template #productArea>
    <div class="info-block">
      <img class="product-image image" [src]="apiUrl + '/uploads/' + productInformation?.image" alt="{{productInformation?.title}}">
      <div class="product-text">
        <div class="product-date">
          <p class="card-title">{{productInformation?.user?.name}}</p>
        </div>
        <b><p>{{productInformation?.title}}</p></b>
        <p><b>Description: </b>{{ productInformation?.description}}</p>
        <p><b>Price: </b>{{ productInformation?.price}} $</p>
      </div>
      <div>
        <button
          type="submit"
          mat-raised-button
          color="warn"
          (click)="onRemove()"
          *ngIf="userId !== productInformation.user._id"
        >
          Delete
        </button>
      </div>
    </div>
  </ng-template>
</div>
