.info-block
  display: flex
  background: #673ab7
  border-radius: 10px
  color: white
  padding: 10px 10px
  margin-bottom: 20px

.product-image
  float: left
  width: 500px
  height: 400px
  border-radius: 10px

.product-text
  flex-grow: 1
  margin-left: 30px
  text-align: center

.product-date
  display: flex
  justify-content: center

