<app-form-card title="Register">
  <form
    #form="ngForm"
    autocomplete="off"
    (ngSubmit)="onSubmit()"
    class="form"
    [appPassword]="['password', 'passwordRepeat']"
  >
    <mat-form-field appearance="outline" class="reg-form__element-wrapper">
      <mat-label>Email</mat-label>
      <input
        type="email" name="email" autocomplete="username" class="reg-form__element"
        email required matInput ngModel #email="ngModel"
      />
      <mat-error
        class="reg-form__element-error" *ngIf="email.touched && email.hasError('required')"
      >Email is required!
      </mat-error>
      <mat-error
        class="reg-form__element-error" *ngIf="email.touched && email.hasError('email')"
      >Wrong email address!
      </mat-error>
      <mat-error
        class="reg-form__element-error" *ngIf="email.touched && email.hasError('serverError')"
      >{{ email.getError('serverError')}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="reg-form__element-wrapper">
      <mat-label>Name</mat-label>
      <input
        type="text" name="name" autocomplete="username" class="reg-form__element"
        required matInput ngModel #name="ngModel"
      />
      <mat-error
        class="reg-form__element-error" *ngIf="name.touched && name.hasError('required')"
      >Display name is required!
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input
        type="text" name="phone"
        required matInput ngModel #phone="ngModel"
      />
      <mat-error
        class="reg-form__element-error" *ngIf="phone.touched && phone.hasError('required')"
      >Phone is required!
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        type="password" name="password" autocomplete="new-password"
        required matInput ngModel #password="ngModel"
      />
      <mat-error
        class="reg-form__element-error" *ngIf="password.touched && password.hasError('required')"
      >Password is required!
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Repeat password</mat-label>
      <input
        type="password" name="passwordRepeat" autocomplete="new-password" class="reg-form__element"
        required matInput ngModel #passwordRepeat="ngModel"
      />
      <mat-error
        class="element-error" *ngIf="passwordRepeat.touched && passwordRepeat.hasError('required')"
      >Repeat password is required!
      </mat-error>
    </mat-form-field>
    <mat-error
      class="identical-error" *ngIf="passwordRepeat.touched && form.errors?.['identical']"
    >Passwords should match!
    </mat-error>
    <div>
      <button
        type="submit"
        mat-button
        class="btn-register"
        [disabled]="form.invalid"
      >REGISTER
      </button>
    </div>
  </form>
</app-form-card>
