<div>
  <h1>Products</h1>
</div>

<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<mat-progress-spinner
  *ngIf="(loading | async) else productsArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #productsArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="25%"
      *ngFor="let product of products | async"
    >
      <mat-card>
        <mat-card-title class="product-title">{{ product.title }}</mat-card-title>
        <mat-divider></mat-divider>
        <img
          [src]="apiUrl + '/uploads/' + product.image"
          [alt]="product.title"
          mat-card-image
          class="image"
        />
        <mat-card-content>
          <p>Price: <strong>{{ product.price }} $</strong></p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <a
            [routerLink]="[product.id, 'information']"
            mat-button
          >VIEW</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-template>
