.centered-card
  text-align: center
  width: 600px
  margin: 70px auto 0
  background: inherit
  padding: 30px
  border-radius: 10px
  box-shadow: 0 0 10px 3px black

.form-title
  font-weight: 700
  letter-spacing: 0.4px
  margin-bottom: 15px


